{# section background #}
{% set background = background ?? 'bg-white' %}

<section
  class="{{ block.padding.value ?? 'section-y-padding' }} {{ background }} @container overflow-hidden">
  <div>

    {% block body %}{% endblock %}

  </div><!-- /.container -->
</section>