{# use block layout #}
{% extends '_blocks/_layout' %}

{# section background #}
{% set background = 'bg-black' %}

{% block body %}

  <div class="container">

    <div class="newsletter container rounded-lg bg-grey-950 relative overflow-hidden mt-[-8.06rem]">

      <div class="newsletter__background-image absolute">
        {{ svg('@webroot/assets/images/svg/background.svg') }}
      </div>

      <div class="newsletter__background-image--circle absolute">
        {{ svg('@webroot/assets/images/svg/circle.svg') }}
      </div>

      <div class="newsletter__content relative z-10 py-[1.9rem] lg:py-[4.5rem] flex flex-col lg:flex-row items-center justify-around">

        <div class="newsletter__content__content pb-[1.43rem] basis-[28%] flex flex-col gap-[1.4rem] lg:gap-[2rem]">
          {% if block.newsletterTitle|length %}
            <h5>{{ block.newsletterTitle }}</h5>
          {% endif %}

          {% if block.newsletterContent|length %}
            <p>{{ block.newsletterContent }}</p>
          {% endif %}
        </div>

        <form class="newsletter__content__form flex flex-col gap-[2.1rem]" action="">
          <div class="form__input flex flex-col lg:flex-row gap-[1.5rem]">
            <input type="text" name="" id="" placeholder="Your email address">
            <a class="button mx-auto lg:mx-0 button-primary" href="">Sign Up</a>
          </div>
          <div class="form__checkbox">
            <input type="checkbox" name="newsletter" id="newsletter">
            <label class="text-base text-white font" for="newsletter">I consent to being sent email updates about my interests.</label>
          </div>
        </form>

      </div>

    </div><!-- /.flex flex-row -->
    
  </div>

{% endblock %}